Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values

helm-check-version:
  name: Check Helm Chart Version
  entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
  language: system
  pass_filenames: false

helm-check-values:
  name: Check values.yaml against schema
  entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
  language: system
  pass_filenames: false

Update index.yaml
  index.yaml
Due: none

Update opensearch dependency chart version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: update OpenCTI version to 6.7.17
  charts/opencti/Chart.yaml
Due: helm-check-version

ci(github): disable rabbitmq deps
  .github/updatecli/helm-dependencies.yaml
  .github/workflows/check-opencti-major-dependencies.yaml
  .github/workflows/check-opencti-minor-dependencies.yaml
Due: none

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: clean hooks from files
  charts/opencti/ci/ci-common-values.yaml
  charts/opencti/templates/connector/deployment.yaml
  charts/opencti/templates/server/configmap.yaml
  charts/opencti/templates/server/secret.yaml
  charts/opencti/templates/worker/configmap.yaml
  charts/opencti/templates/worker/secret.yaml
  charts/opencti/values.yaml
Due: helm-check-values

feat: allow clustering mode
  .yamllint
  charts/opencti/README.md
  charts/opencti/README.md.gotmpl
  charts/opencti/ci/ci-clustering-values.yaml
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/docs/configuration-clustering-mode.md
  charts/opencti/docs/examples.md
  charts/opencti/docs/guides/UPGRADE-v1-to-v2.md
  charts/opencti/templates/NOTES.txt
  charts/opencti/templates/_helpers.tpl
  charts/opencti/templates/connector/deployment.yaml
  charts/opencti/templates/server/_deployment.tpl
  charts/opencti/templates/server/_service.tpl
  charts/opencti/templates/server/deployment.yaml
  charts/opencti/templates/server/hpa.yaml
  charts/opencti/templates/server/ingress.yaml
  charts/opencti/templates/server/networkpolicy.yaml
  charts/opencti/templates/server/pdb.yaml
  charts/opencti/templates/server/service.yaml
  charts/opencti/templates/server/servicemonitor.yaml
  charts/opencti/templates/worker/deployment.yaml
  charts/opencti/values.yaml
Due: helm-check-values

fix(opencti): topologySpreadConstraints per component
  charts/opencti/ci/ci-clustering-values.yaml
  charts/opencti/templates/_helpers.tpl
  charts/opencti/templates/server/_deployment.tpl
Due: none

fix: update OpenCTI version to 6.7.18
  charts/opencti/Chart.yaml
Due: helm-check-version

chore: move clustering-values to examples dir to pass ct
  charts/opencti/docs/examples/ci-clustering-values.yaml
Due: none

fix(opencti): probes ref APP__HEALTH_ACCESS_KEY
  charts/opencti/docs/examples/ci-clustering-values.yaml
  charts/opencti/templates/server/_deployment.tpl
Due: none

fix: update OpenCTI version to 6.7.19
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.7.20
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.8.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.8.1
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.8.2
  charts/opencti/Chart.yaml
Due: helm-check-version

Path conditions:
  helm-check-version: any of: ^charts/opencti/Chart\.yaml$
  helm-check-values: any of: ^charts/opencti/values\.yaml$
