Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values, check-chart-version-bump

helm-check-version:
  name: Check Helm Chart Version
  entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
  language: system
  pass_filenames: false

helm-check-values:
  name: Check values.yaml against schema
  entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
  language: system
  pass_filenames: false

check-chart-version-bump:
  name: Check Chart Version Bump
  entry: "#!/bin/sh\nif git diff --cached --name-only | grep -q \"^charts/opencti/Chart.yaml$\"; then\n  if ! git diff --cached charts/opencti/Chart.yaml | grep -q \"^+version:\"; then\n    echo \"Please bump the chart version in Chart.yaml\"\n    exit 1\n  fi\nfi\n"
  ...

fix: update OpenCTI version to 6.7.3
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

Update index.yaml
  index.yaml
Due: none

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.7.4
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

feat(server): added Service API specifications configs
  charts/opencti/templates/server/service.yaml
Due: none

feat(all): conditional lookup for ServiceMonitor CRD
  charts/opencti/templates/connector/servicemonitor.yaml
  charts/opencti/templates/server/servicemonitor.yaml
  charts/opencti/templates/worker/servicemonitor.yaml
Due: none

feat(connector): rename templates order
  charts/opencti/templates/connector/deployment.yaml
  charts/opencti/templates/connector/service.yaml
  charts/opencti/templates/connector/serviceaccount.yaml
Due: none

feat(worker): set default ClusterIP and None clusterIP on service
  charts/opencti/templates/worker/service.yaml
Due: none

docs: updated values, ci example and NOTES
  charts/opencti/README.md
  charts/opencti/ci/ci-common-values.yaml
  charts/opencti/templates/NOTES.txt
  charts/opencti/values.yaml
Due: helm-check-values

Create .helmignore
  charts/opencti/.helmignore
Due: none

fix: update OpenCTI version to 6.7.5
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

chore: add .helmignore to exclude non-essential files (#206)
  charts/opencti/.helmignore
Due: none

fix: update OpenCTI version to 6.7.6
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.7.7
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.7.8
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

Path conditions:
  helm-check-version: any of: ^charts/opencti/Chart\.yaml$
  helm-check-values: any of: ^charts/opencti/values\.yaml$
  check-chart-version-bump: any of: ^charts/opencti/Chart\.yaml$
