Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values

helm-check-version:
  name: Check Helm Chart Version
  entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
  language: system
  pass_filenames: false

helm-check-values:
  name: Check values.yaml against schema
  entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
  language: system
  pass_filenames: false

fix: update OpenCTI version to 6.8.10
  charts/opencti/Chart.yaml
Due: helm-check-version

Update index.yaml
  index.yaml
Due: none

fix: update major dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

Enable dragonfly in cache_mode which also enables eviction.
  charts/opencti/values.yaml
Due: helm-check-values

chore: enable dragonfly in cache_mode which also enables eviction
  charts/opencti/values.yaml
Due: helm-check-values

fix: labels on ingress, networkpolicy and hpa
  charts/opencti/README.md
  charts/opencti/templates/server/hpa.yaml
  charts/opencti/templates/server/ingress.yaml
  charts/opencti/templates/server/networkpolicy.yaml
Due: none

fix: update OpenCTI version to 6.8.11
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.8.12
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: change secretKeyRef to configMapRef in connector
  charts/opencti/templates/connector/deployment.yaml
Due: none

fix: update OpenCTI version to 6.8.13
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: update OpenCTI version to 6.8.14
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.8.15
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.8.16
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.8.17
  charts/opencti/Chart.yaml
Due: helm-check-version

ci: pin version
  .github/workflows/auto-assign.yaml
  .github/workflows/check-opencti-release.yaml
  .github/workflows/lint-test.yaml
Due: none

Path conditions:
  helm-check-version: any of: ^charts/opencti/Chart\.yaml$
  helm-check-values: any of: ^charts/opencti/values\.yaml$
