Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values, check-chart-version-bump

helm-check-version:
  name: Check Helm Chart Version
  entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
  language: system
  pass_filenames: false

helm-check-values:
  name: Check values.yaml against schema
  entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
  language: system
  pass_filenames: false

check-chart-version-bump:
  name: Check Chart Version Bump
  entry: "#!/bin/sh\nif git diff --cached --name-only | grep -q \"^charts/opencti/Chart.yaml$\"; then\n  if ! git diff --cached charts/opencti/Chart.yaml | grep -q \"^+version:\"; then\n    echo \"Please bump the chart version in Chart.yaml\"\n    exit 1\n  fi\nfi\n"
  ...

feat(server): add dns config
  charts/opencti/templates/server/deployment.yaml
Due: none

docs: update README.md and values scheme
  charts/opencti/README.md
  charts/opencti/ci/ci-common-values.yaml
  charts/opencti/values.schema.json
  charts/opencti/values.yaml
Due: helm-check-values

feat(connectors): add dns config and pod labels
  charts/opencti/templates/connector/deployment.yaml
Due: none

feat(worker): add dns config
  charts/opencti/templates/worker/deployment.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

chore: add icon
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.4
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.5
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.6
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.7
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.8
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update major dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.9
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.10
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

Path conditions:
  helm-check-version: any of: ^charts/opencti/Chart\.yaml$
  helm-check-values: any of: ^charts/opencti/values\.yaml$
  check-chart-version-bump: any of: ^charts/opencti/Chart\.yaml$
