Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values, check-chart-version-bump

helm-check-version:
  name: Check Helm Chart Version
  entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
  language: system
  pass_filenames: false

helm-check-values:
  name: Check values.yaml against schema
  entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
  language: system
  pass_filenames: false

check-chart-version-bump:
  name: Check Chart Version Bump
  entry: "#!/bin/sh\nif git diff --cached --name-only | grep -q \"^charts/opencti/Chart.yaml$\"; then\n  if ! git diff --cached charts/opencti/Chart.yaml | grep -q \"^+version:\"; then\n    echo \"Please bump the chart version in Chart.yaml\"\n    exit 1\n  fi\nfi\n"
  ...

Update index.yaml
  index.yaml
Due: none

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.11
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.12
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

chore: fix security #4 workflow does not contain permissions
  .github/workflows/lint-test.yaml
Due: none

chore: fix security #3 workflow does not contain permissions
  .github/workflows/check-opencti-release.yaml
Due: none

chore: fix security #4 workflow does not contain permissions
  .github/workflows/check-opencti-major-dependencies.yaml
Due: none

chore: fix security #1 workflow does not contain permissions
  .github/workflows/check-opencti-minor-dependencies.yaml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions (#178)
  .github/workflows/check-opencti-major-dependencies.yaml
Due: none

chore: fix security workflow does not contain permissions
  .github/workflows/check-opencti-major-dependencies.yaml
  .github/workflows/check-opencti-minor-dependencies.yaml
  .github/workflows/check-opencti-release.yaml
  .github/workflows/lint-test.yaml
Due: none

fix: update OpenCTI version to 6.6.13
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.14
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update major dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.6.15
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

feat(worker): add service type granularity to worker so that ClusterIP, etc, may be used to prevent worker from being publicly accessible
  charts/opencti/Chart.yaml
  charts/opencti/templates/worker/service.yaml
  charts/opencti/values.yaml
Due: helm-check-version, helm-check-values, check-chart-version-bump

Update Chart.yaml
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

Update values.yaml
  charts/opencti/values.yaml
Due: helm-check-values

Path conditions:
  helm-check-version: any of: ^charts/opencti/Chart\.yaml$
  helm-check-values: any of: ^charts/opencti/values\.yaml$
  check-chart-version-bump: any of: ^charts/opencti/Chart\.yaml$
