Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        args: [--maxdepth=3]
        files: ^(README\.md|CONTRIBUTING\.md|TESTING\.md)$

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
        args:
          - charts/opencti
      - id: shellcheck

  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        args:
          - --chart-search-root=charts
          - --template-files=README.md.gotmpl
          - --document-dependency-values

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-jsonschema
        name: "Check values.schema.json"
        files: values\.schema\.json$
        args: ["--schemafile", "https://json-schema.org/draft-07/schema"]

  - repo: local
    hooks:
      - id: helm-check-version
        name: Check Helm Chart Version
        entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
        language: system
        files: ^charts/opencti/Chart\.yaml$
        pass_filenames: false

      - id: helm-check-values
        name: Check values.yaml against schema
        entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
        language: system
        files: ^charts/opencti/values\.yaml$
        pass_filenames: false

fix: [opencti] new release: 7.260907.0 (#390)
  charts/opencti/Chart.yaml
Due: helm-check-version

Update index.yaml
  index.yaml
Due: none

fix: update OpenCTI version to 7.260910.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260910.0 (#391)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260914.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260914.0 (#392)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260917.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260917.0 (#393)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260921.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260921.0 (#394)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260928.1
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260928.1 (#395)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update major dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: update OpenCTI version to 7.260930.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260930.0 (#398)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] upgrade major dependencies (2026-10-01) (#397)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

ci: add helm_extras args
  .github/workflows/helm-lint-test.yml
Due: none

fix: update OpenCTI version to 7.261002.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.261002.0 (#399)
  charts/opencti/Chart.yaml
Due: helm-check-version

ci: enable auto-merge after lint and test pass
  .github/workflows/github-auto-merge-enable.yml
Due: none

ci: enable auto-merge after lint and test pass (#400)
  .github/workflows/github-auto-merge-enable.yml
Due: none

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: [opencti] upgrade minor dependencies (2026-10-05) (#401)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

Add MINIO__PORT env to fix deployment issue (#402).
  charts/opencti/values.yaml
Due: helm-check-values

fix: [opencti] enable readinessProbe in CI values so upgrade test waits
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
Due: none

fix: retry test-connection until server is up after upgrade
  charts/opencti/templates/tests/test-connection.yaml
Due: none

fix: add MINIO__PORT env to fix deployment issue (#403)
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/templates/tests/test-connection.yaml
  charts/opencti/values.yaml
Due: helm-check-values

fix: update OpenCTI version to 7.261008.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.261008.0 (#404)
  charts/opencti/Chart.yaml
Due: helm-check-version
