Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        args: [--maxdepth=3]
        files: ^(README\.md|CONTRIBUTING\.md|TESTING\.md)$

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
        args:
          - charts/opencti
      - id: shellcheck

  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        args:
          - --chart-search-root=charts
          - --template-files=README.md.gotmpl
          - --document-dependency-values

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-jsonschema
        name: "Check values.schema.json"
        files: values\.schema\.json$
        args: ["--schemafile", "https://json-schema.org/draft-07/schema"]

  - repo: local
    hooks:
      - id: helm-check-version
        name: Check Helm Chart Version
        entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
        language: system
        files: ^charts/opencti/Chart\.yaml$
        pass_filenames: false

      - id: helm-check-values
        name: Check values.yaml against schema
        entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
        language: system
        files: ^charts/opencti/values\.yaml$
        pass_filenames: false

fix: update OpenCTI version to 7.260807.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260807.0 (#377)
  charts/opencti/Chart.yaml
Due: helm-check-version

Update index.yaml
  index.yaml
Due: none

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

[opencti] upgrade minor dependencies (2026-08-10) (#378)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: update OpenCTI version to 7.260811.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260811.0 (#379)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: health api reference secrets
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/templates/server/_deployment.tpl
  charts/opencti/values.schema.json
  charts/opencti/values.yaml
Due: helm-check-values

feat!: [opencti] replace MinIO with RustFS, harden default probes
  .github/ct.yaml
  .github/updatecli/helm-dependencies.yaml
  charts/opencti/Chart.yaml
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/docs/configuration-clustering-mode.md
  charts/opencti/docs/configuration.md
  charts/opencti/docs/examples.md
  charts/opencti/docs/examples/ci-clustering-values.yaml
  charts/opencti/docs/examples/gateway-api-values.yaml
  charts/opencti/docs/guides/UPGRADE-v1-to-v2.md
  charts/opencti/docs/guides/UPGRADE-v2-to-v3.md
  charts/opencti/docs/guides/gateway-api-usage.md
  charts/opencti/values.schema.json
  charts/opencti/values.yaml
Due: helm-check-version, helm-check-values

feat: health api reference secrets (#380)
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/templates/server/_deployment.tpl
  charts/opencti/values.schema.json
  charts/opencti/values.yaml
Due: helm-check-values

feat!: replace MinIO with RustFS (#381)
  .github/ct.yaml
  .github/updatecli/helm-dependencies.yaml
  charts/opencti/Chart.yaml
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/docs/configuration-clustering-mode.md
  charts/opencti/docs/configuration.md
  charts/opencti/docs/examples.md
  charts/opencti/docs/examples/ci-clustering-values.yaml
  charts/opencti/docs/examples/gateway-api-values.yaml
  charts/opencti/docs/guides/UPGRADE-v1-to-v2.md
  charts/opencti/docs/guides/UPGRADE-v2-to-v3.md
  charts/opencti/docs/guides/gateway-api-usage.md
  charts/opencti/values.schema.json
  charts/opencti/values.yaml
Due: helm-check-version, helm-check-values

fix: update OpenCTI version to 7.260817.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260817.0 (#382)
  charts/opencti/Chart.yaml
Due: helm-check-version

ci: add secrets and clean dependabot asignees
  .github/dependabot.yml
  .github/workflows/helm-release.yml
Due: none

ci: restore assignees individual users
  .github/dependabot.yml
Due: none

fix: add networkpolicies on connectors
  charts/opencti/README.md
  charts/opencti/README.md.gotmpl
  charts/opencti/templates/connector/networkpolicy.yaml
  charts/opencti/values.yaml
Due: helm-check-values

fix: update OpenCTI version to 7.260824.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260824.0 (#384)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260828.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260828.0 (#385)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260901.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260901.0 (#386)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260902.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260902.0 (#387)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 7.260904.0
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 7.260904.0 (#388)
  charts/opencti/Chart.yaml
Due: helm-check-version

[opencti] upgrade minor dependencies (2026-09-07) (#389)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

ci: set fix commits on updatecli
  .github/workflows/helm-check-opencti-major-dependencies.yml
  .github/workflows/helm-check-opencti-minor-dependencies.yml
  .github/workflows/helm-check-opencti-release.yml
Due: none

fix: update OpenCTI version to 7.260907.0
  charts/opencti/Chart.yaml
Due: helm-check-version
