Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values, check-chart-version-bump

helm-check-version:
  name: Check Helm Chart Version
  entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
  language: system
  pass_filenames: false

helm-check-values:
  name: Check values.yaml against schema
  entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
  language: system
  pass_filenames: false

check-chart-version-bump:
  name: Check Chart Version Bump
  entry: "#!/bin/sh\nif git diff --cached --name-only | grep -q \"^charts/opencti/Chart.yaml$\"; then\n  if ! git diff --cached charts/opencti/Chart.yaml | grep -q \"^+version:\"; then\n    echo \"Please bump the chart version in Chart.yaml\"\n    exit 1\n  fi\nfi\n"
  ...

fix: update OpenCTI version to 6.7.8
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

Update index.yaml
  index.yaml
Due: none

fix: update major dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.7.9
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.7.10
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

feat: use oss services instead bitnami charts
  .github/ct.yaml
  .github/updatecli/helm-dependencies.yaml
  .pre-commit-config.yaml
  charts/opencti/Chart.yaml
  charts/opencti/README.md
  charts/opencti/README.md.gotmpl
  charts/opencti/ci/ci-common-values.yaml
  charts/opencti/docs/configuration.md
  charts/opencti/templates/NOTES.txt
  charts/opencti/values.yaml
Due: helm-check-version, helm-check-values, check-chart-version-bump

fix: update OpenCTI version to 6.7.11
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: restore README.md
  charts/opencti/.helmignore
Due: none

chore: remove old release
  index.yaml
Due: none

ci(github): remove script pr
  .github/hack/prepare_body_pr.sh
  .github/workflows/check-opencti-major-dependencies.yaml
  .github/workflows/check-opencti-minor-dependencies.yaml
Due: none

fix: update OpenCTI version to 6.7.12
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.7.14
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

ci(github): pin actions
  .github/workflows/auto-assign.yaml
  .github/workflows/check-opencti-major-dependencies.yaml
  .github/workflows/check-opencti-minor-dependencies.yaml
  .github/workflows/check-opencti-release.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
Due: none

fix: update OpenCTI version to 6.7.15
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

fix: update OpenCTI version to 6.7.16
  charts/opencti/Chart.yaml
Due: helm-check-version, check-chart-version-bump

Path conditions:
  helm-check-version: any of: ^charts/opencti/Chart\.yaml$
  helm-check-values: any of: ^charts/opencti/values\.yaml$
  check-chart-version-bump: any of: ^charts/opencti/Chart\.yaml$
