Repository devops-ia/helm-opencti: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-check-version, helm-check-values

helm-check-version:
  name: Check Helm Chart Version
  entry: bash -c 'if ! grep -q "version:" charts/opencti/Chart.yaml; then echo "Version field missing in Chart.yaml"; exit 1; fi'
  language: system
  pass_filenames: false

helm-check-values:
  name: Check values.yaml against schema
  entry: bash -c 'if [ -f values.schema.json ]; then if ! helm template charts/opencti --validate --values charts/opencti/values.yaml > /dev/null; then exit 1; fi; fi'
  language: system
  pass_filenames: false

feat: pin busybox image (#298)
  charts/opencti/templates/tests/test-connection.yaml
  charts/opencti/values.yaml
Due: helm-check-values

feat: pin busybox image (#298) (#299)
  charts/opencti/templates/tests/test-connection.yaml
  charts/opencti/values.yaml
Due: helm-check-values

Update index.yaml
  index.yaml
Due: none

fix: update OpenCTI version to 6.9.10
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: [opencti] new release: 6.9.10 (#300)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: update OpenCTI version to 6.9.11
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 6.9.11 (#302)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.9.12
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 6.9.12 (#303)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.9.13
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 6.9.13 (#304)
  charts/opencti/Chart.yaml
Due: helm-check-version

ci: force push tag release
  .github/workflows/release.yaml
Due: none

feat: Add worker probes and apply securityContext to readyChecker init containers
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/templates/connector/deployment.yaml
  charts/opencti/templates/server/_deployment.tpl
  charts/opencti/templates/worker/deployment.yaml
  charts/opencti/values.yaml
Due: helm-check-values

fix: update OpenCTI version to 6.9.14
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.9.15
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 6.9.14 (#308)
  charts/opencti/Chart.yaml
Due: helm-check-version

feat: add worker probes and apply securityContext to readyChecker init containers (#306)
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/templates/connector/deployment.yaml
  charts/opencti/templates/server/_deployment.tpl
  charts/opencti/templates/worker/deployment.yaml
  charts/opencti/values.yaml
Due: helm-check-values

feat: [opencti] new release: 6.9.15 (#309)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
  charts/opencti/ci/ci-standalone-values.yaml
  charts/opencti/templates/connector/deployment.yaml
  charts/opencti/templates/server/_deployment.tpl
  charts/opencti/templates/worker/deployment.yaml
  charts/opencti/values.yaml
Due: helm-check-version, helm-check-values

fix: update OpenCTI version to 6.9.16
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 6.9.16 (#310)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update minor dependencies version
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: [opencti] upgrade minor dependencies (2026-02-09) (#311)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: update OpenCTI version to 6.9.17
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 6.9.17 (#312)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: Add writable /tmp volume when readOnlyRootFilesystem is enabled
  charts/opencti/templates/server/_deployment.tpl
Due: none

fix: Add writable /tmp volume when readOnlyRootFilesystem is enabled (#313)
  charts/opencti/templates/server/_deployment.tpl
Due: none

[opencti] upgrade minor dependencies (2026-02-16) (#314)
  charts/opencti/Chart.yaml
  charts/opencti/README.md
Due: helm-check-version

fix: update OpenCTI version to 6.9.18
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: [opencti] new release: 6.9.18 (#315)
  charts/opencti/Chart.yaml
Due: helm-check-version

fix: update OpenCTI version to 6.9.20
  charts/opencti/Chart.yaml
Due: helm-check-version

Path conditions:
  helm-check-version: any of: ^charts/opencti/Chart\.yaml$
  helm-check-values: any of: ^charts/opencti/values\.yaml$
